@media screen {
  html:root[data-theme="cs-professor"] {
    background: white;
    font:
      medium/normal "Times New Roman",
      Times,
      serif;
    --color-background: #fff;
    --color-text: #000;
    --color-muted: #000;
    --color-faint: #555;
    --color-line: #999;
    --color-hover: #e8e8e8;

    body {
      font-family: "Times New Roman", Times, serif;
      color: black;
      background: white;
    }

    #command-palette {
      font-family: "Times New Roman", Times, serif;
      font-size: 1rem;
      background: white;
    }
  }
}
